.main {

  height: 100%;

  display: flex;
  justify-content: center;
  width: 40%;
  align-items: center;
  background-color: #FDD548;
}

.main_img {
  width: 50%;
  position: relative;
}

@media (max-width:800px) {

  .main {
    width: 100%;
    margin: 0;
  }

  .main_img {
    display: grid;
    place-items: center;
    width: 100%;
    position: relative;

  }

  .main_img img {
    width: 80%;
    margin: 40px 0;
    margin-bottom: 20px;

  }
}

.main__btn {
  position: absolute;
  top: 77%;
  left: 45%;
  width: 50px !important;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #F17851;
}

@media (max-width:800px) {
  .main__btn {
    width: 50px !important;
    height: 46px !important;
    left: 64%;
    top: 48%;
    background-repeat: no-repeat !important;
    border: none !important;
    cursor: pointer !important;
    overflow: hidden !important;
    outline: none !important;
    color: #F17851 !important;
    background-color: transparent !important;
  }
}